<section class="bread-crumb error">
    <div class="container">
        <ul>
            <li>
                <a href="">
                    <span>Trang chủ</span>
                </a>
                <span>
                    <i class="fa fa-angle-right"></i>
                </span>
            </li>
            <li>
                <strong> 404 Không tìm thấy trang</strong>
            </li>
        </ul>
    </div>
</section>
<!-- Hết Bread Crumb -->
<div class="container">
    <div class="row">
        <div class="col-sm-12">
            <div class="page-404-control text-center">
                <img src="/assets/images/404.png" alt="" class="img-fluid">
                <h1>Lỗi không tìm thấy trang</h1>
                <p>Có vẻ như các trang mà bạn đang cố gắng tiếp cận không tồn tại nữa hoặc có thể nó vừa di chuyển.</p>
                <a href="" class="btn btn-success">Về trang chủ</a>
            </div>
        </div>
    </div>
</div>
<!-- Hết page 404 -->