<div class="banner-collection">
    <div class="container">
        <div class="row">
            <div class="col-md-8">
                <div class="caption-banner">
                    <h1>Nữ</h1>
                    <p>Kiến thức về đồng hồ, thông tin khuyến mãi, tin tức & sự kiện, hình ảnh, video clip về đồng hồ đeo tay mới nhất hiện nay, cập nhật liên tục nhanh và đầy đủ...</p>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div class="row">
        <aside class="col-md-3">
            <aside class="collection-category">
                <h3 class="collection-category-title">
                    Danh mục
                </h3>
                <div class="collection-category-content">
                    <ul class="collection-category-content-list">
                        <li>
                            <a href="">Trang chủ
                        </a>
                        </li>
                        <li><a href="">Giới thiệu
                            <span class="view-more">
                                
                            </span>
                        </a></li>
                        <li><a href="">Nam
                            <span class="view-more">
                                
                            </span>
                        </a></li>
                        <li><a href="">Nữ
                            <span class="view-more">
                                
                            </span>
                        </a></li>
                        <li><a href="">Phụ kiện
                            <span class="view-more">
                                
                            </span>
                        </a></li>
                        <li><a href="">Sản phẩm
                            <span class="view-more">
                                
                            </span>
                        </a></li>
                        <li><a href="">Tin tức</a></li>
                        <li><a href="">Liên hệ</a></li>
                    </ul>
                </div>
            </aside>
            <!-- Hết phần category -->
            <div class="collection-filter">
                <div class="collection-filter-heading">
                    Tìm theo
                </div>
                <div class="collection-filter-section">
                    <aside class="one-section">
                        <div class="one-section-title">
                            Thương hiệu
                        </div>
                        <div class="one-section-group">
                            <ul>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>Quartz</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <!-- Hết một filter -->
                <div class="collection-filter-section">
                    <aside class="one-section">
                        <div class="one-section-title">
                            Giá sản phẩm
                        </div>
                        <div class="one-section-group">
                            <ul>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>Giá dưới 100.000đ</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>100.000đ - 200.000đ</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>200.000đ - 300.000đ</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>300.000đ - 500.000đ</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>500.000đ - 1.000.000đ</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>Giá trên 1.000.000đ</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="collection-filter-section">
                    <aside class="one-section">
                        <div class="one-section-title">
                            Loại
                        </div>
                        <div class="one-section-group">
                            <ul>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>Carbon</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="collection-filter-section">
                    <aside class="one-section">
                        <div class="one-section-title">
                            Kích thước
                        </div>
                        <div class="one-section-group">
                            <ul>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>Lớn</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>Nhỏ</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>Vừa</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
                <div class="collection-filter-section">
                    <aside class="one-section">
                        <div class="one-section-title">
                            Loại dây
                        </div>
                        <div class="one-section-group">
                            <ul>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>Nilong</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>Nhựa</span>
                                    </label>
                                </li>
                                <li>
                                    <label for="">
                                        <input type="text">
                                        <i>
                                            
                                        </i>
                                        <span>Da</span>
                                    </label>
                                </li>
                            </ul>
                        </div>
                    </aside>
                </div>
            </div>
        </aside>
        <section class="main-collection col-md-9">
            <div class="product-collection">
                <div class="product-collection__sort">
                    <h3>Xếp theo: </h3>
                    <ul>
                        <li><a href=""><i></i>Tên A-Z</a></li>
                        <li><a href=""><i></i>Tên Z-A</a></li>
                        <li><a href=""><i></i>Hàng mới</a></li>
                        <li><a href=""><i></i>Giá thấp đến cao</a></li>
                        <li><a href=""><i></i>Giá cao xuống thấp</a></li>
                    </ul>
                </div>
            </div>
            <!-- Hết phần top sort -->
            <section class="mail-collection-product row">
                <div class="col-md-4 control-padding" *ngFor="let a of productsArr.listproDTO">
                    <div class="one-new-product-collection">
                        <a [routerLink]="['/detail/', a.productId]"></a>
                        <span class="sale-box" *ngIf='a.sale !==""'>-11%</span>
                        <div class="product">
                            <img src="{{a.listImgDTO[0].imageUrl}}" alt="" class="img-fluid background">
                            <img src="{{a.listImgDTO[1].imageUrl}}" alt="" class="img-fluid show">
                        </div>
                        <h4 class="text-center"></h4>
                        <h3 class="text-center">{{a.productName}}</h3>
                        <div class="product-prince text-center">
                            <strong>{{a.price | number}}đ</strong>
                            <span *ngIf=" a.sale !== ''">{{a.sale}}đ</span>
                        </div>
                        <div class="product-card">
                            <a href="javascript:void(0)" (click)="buyItem(a)" class="text-center">Thêm vào giỏ hàng</a>
                        </div>
                    </div>
                </div>
                <div class="page-control">
                    <nav class=" text-center ">
                        <ul>
                            <li [ngClass]="{'disabled':productPage.pageNumber==0}" disabled='productPage.pageNumber==0'>
                                <a href="javascript:void(0)" disabled='productPage.pageNumber==0' (click)="previousPage()">«</a>
                            </li>
                            <li *ngIf='productPage.pageNumber!=0'>
                                <a href="javascript:void(0)" (click)="previousPage()">1</a>
                            </li>
                            <li class="active">
                                <a>{{productPage.pageNumber+1}}</a>
                            </li>
                            <li *ngIf='productPage.pageNumber+1!=productsArr.totalPage'>
                                <a href="javascript:void(0)" (click)="nextPage()">{{productPage.pageNumber+2}}</a>
                            </li>
                            <li [ngClass]="{'disabled':productPage.pageNumber + 1==productsArr.totalPage}" disabled='productPage.pageNumber +1 ==productsArr.totalPage'>
                                <a href="javascript:void(0)" (click)="nextPage()" disabled='productPage.pageNumber==0'>»</a>
                            </li>
                        </ul>
                    </nav>
                </div>
            </section>
        </section>
        <!-- Hết phần sản phẩm Collection -->
    </div>
</div>