<footer class="footer background-footer">
    <div class="footer-control">
        <div class="footer-top">
            <div class="container">
                <div class="row">
                    <div class="col-md-3">
                        <div class="footer-contact">
                            <h3>
                                <a href=""><img src="./assets/images/logo.png" alt="" class=""></a>
                            </h3>
                            <ul class="list-menu">
                                <li>
                                    <i class="fa fa-map-marker">
                                        <span> 30 Đường 2/9, P. Bình Hiên, Quận Hải Châu, Đà Nẵng</span>
                                    </i>
                                </li>
                                <li>
                                    <i class="fa fa-phone">
                                        <a href="tel: 0373271996"> 037 327 1996</a>
                                    </i>

                                </li>
                                <li>
                                    <i class="fa fa-envelope">
                                        <a href="mailto:nguyenngocpkdt@gmail.com"> nguyenngocpkdt@gmail.com</a>
                                    </i>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- Hết phần contact -->
                    <div class="col-md-3">
                        <div class="footer-buy-item">
                            <h3>Mua hàng</h3>
                            <ul class="list-menu">
                                <li><a href="">Nam</a></li>
                                <li><a href="">Nữ</a></li>
                                <li><a href="">Phụ kiện</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Hết phần mua hàng -->
                    <div class="col-md-3">
                        <div class="footer-buy-item">
                            <h3>Dịch vụ khách hàng</h3>
                            <ul class="list-menu">
                                <li><a href="">Nam</a></li>
                                <li><a href="">Nữ</a></li>
                                <li><a href="">Phụ kiện</a></li>
                            </ul>
                        </div>
                    </div>
                    <!-- Hết phần dịch vụ khách hàng -->
                    <div class="col-md-3">
                        <div class="footer-register">
                            <h3>Đăng kí nhận tin</h3>
                            <p>Nhận thông tin sản phẩm mới nhất, tin khuyến mãi và nhiều hơn nữa.</p>
                            <form action="">
                                <input type="email" class="email" placeholder="Email của bạn">
                                <button class="">Đăng ký</button>
                            </form>
                            <div class="footer-payment">
                                <ul>
                                    <li><img src="//bizweb.dktcdn.net/100/355/487/themes/720328/assets/payment_1.svg?1607743058503" alt=""></li>
                                    <li><img src="//bizweb.dktcdn.net/100/355/487/themes/720328/assets/payment_2.svg?1607743058503" alt=""></li>
                                    <li><img src="//bizweb.dktcdn.net/100/355/487/themes/720328/assets/payment_3.svg?1607743058503" alt=""></li>
                                    <li><img src="//bizweb.dktcdn.net/100/355/487/themes/720328/assets/payment_4.svg?1607743058503" alt=""></li>
                                    <li><img src="//bizweb.dktcdn.net/100/355/487/themes/720328/assets/payment_5.svg?1607743058503" alt=""></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                    <!-- Hết phần payment -->
                </div>
            </div>
        </div>
        <!-- Hết phần top footer -->
        <div class="footer-bottom">
            <div class="container">
                <div class="row">
                    <div class="col-sm-12 text-center">
                        <span>© Bản quyền thuộc về <b>Ngocnk </b> <span>|</span> Cung cấp bởi Ngocnk </span>
                    </div>
                </div>
            </div>
        </div>
        <!-- Hết phần bottom footer -->
        <div class="back-to-top">
            Lên đầu trang
            <i class="fa fa-long-arrow-right"></i>
        </div>
    </div>
</footer>